body{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    display: flex;flex-direction: column;min-height: 100vh;background-image: url( backgound\ image.jpg) ;
    background-size: cover;background-repeat: no-repeat;background-attachment: fixed;background-position: center;
}
header{
    background-color: #333;
    color: crimson;
    padding: 10PX;
    text-align: center;
}
.navbar{
    display: flex;justify-content: space-between;align-items: center;
}
.logo h1{
    margin: 0;
    margin-left: 10%;
}
.form box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350%;
    height: 420%;
    padding: 60px 30px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 5%;
    padding: 5%;
}
.nav-links{
    list-style: none;display: flex;
    color: crimson;
}
.nav-links li{
    margin: 0 15px;
}
.nav-links a{
    text-decoration: none;color: white;
}
.main{
    flex: 1;
    display: flex;justify-content: center;align-items: center;flex-direction: column;padding: 20px;
}
.coffee-flavors{
    text-align: center;
    color: crimson;
}
.coffee-flavors h2{
    font-size: 32px;margin-bottom: 20px;;
}
.coffee-flavors ul{
    list-style: none;
    padding: 0;
}
.coffee-flavors ul li{
    font-size: 24px;
    color: crimson;
}
.buy-now-button{
    background-color: #333;
    color: white;
    border-color:black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.div class{
    font-size: 24px;
    color: crimson;
}
.footer{
    background-color: rgb(51, 51,51);
    color: white;text-align: center;padding: 10px 0;
}
.footer.social-media span{ font-weight: bold;}
.body hi{
    background-color: #333;
    color: white;
    border-color: black;
    padding: 10px 20px;
    font-size: large;
    margin-bottom: auto;
}
.images{
    max-height: 100px;
    max-width: 50px;
    margin-bottom: 20px;
    margin: auto;
    display: inline-table
}
.price{
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
}
body{
    align-items: center;
}